astroid==2.4.2
click==6.7
Flask==0.12.3
Flask-Cors==3.0.10
gunicorn==19.7.1
isort==5.7.0
itsdangerous==0.24
Jinja2==2.9.6
lazy-object-proxy==1.4.3
setuptools==45.2.0
MarkupSafe==1.0
mccabe==0.6.1
pylint==2.6.0
pytz==2017.2
requests==2.13.0
six==1.15.0
toml==0.10.2
Werkzeug==0.12.1
wrapt==1.12.1