.grid-container{
    display:grid;
    border-color:black;
    background-color:red;
    grid-gap:5px;
    border-width:10px;
    border-style:solid;
    grid-template-columns:auto auto auto auto auto auto auto;
    padding: 10px;
}
.grid-item{
    width:40px;
    
}