<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
</head>

<nav class="navbar navbar-dark bg-dark">
    <form action="{{ url_for('previous', mm=mm, yy=yy) }}">
        <button class="btn btn-outline-light"> < </button>
    </form>
    <div class="text-white">{{yy}} {{months[mm]}}</div>
    <form action="{{ url_for('next', mm=mm, yy=yy)}}" method='POST'>
        <button class="btn btn-outline-light"> > </button>
    </form>
</nav>
<table class="table  table-striped table-dark table-bordered">
        <tr class="text-center"> 
            <th >SUN</td>
            <th>MON</th>
            <th>TUE</th>
            <th>WED</th>
            <th>THU</th>
            <th>FRI</th>
            <th>SAT<S/th>
        </tr>
    {% for row in range(0,5)%}
        <tr>
        {% for col in range(0,7)%}
            <th>
                <form class="d-flex justify-content-center" action="{{ url_for('gotoforum') }}" method='POST'>    
                    <input hidden type='text' name='dd' value={{ dates[row*7 + col]}}>
                    <button type="submit" style="background-color: transparent" class="btn btn-outline-light"> 
                        {{dates[row*7 + col].day}}
                    </button>
                </form>
            </th>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>